<p>json-app-user works!</p>


<ul>
    <li *ngFor="let i of [].constructor(9); let index = index">
        <a routerLink="/user/{{index+1}}">user {{index+1}}</a><br><br>
    </li>
</ul>



<div *ngIf="user">
    <h3>Name: {{ user['name'] }}</h3>
    <h3>User-Name: {{ user['username'] }}</h3>
</div>
<div>
    <table border="2px" *ngIf="user">
        <tr>
            <th>Name</th>
            <th>User-Name</th>
            <th>email</th>
        </tr>
        <tr>
            <td>{{ user['name'] }}</td>
            <td>{{ user['username'] }}</td>
            <td>{{ user['email'] }}</td>
        </tr>
    </table>
</div>
