<p>json-app-user works!</p>


<ul>
    <li *ngFor="let i of [].constructor(9); let index = index">
        <a routerLink="/user/{{index+1}}">user {{index+1}}</a><br><br>
    </li>
</ul>


<div>
    do something number {{$indexsUser}}
    do something number {{$indexsUser}}
    do something number {{$indexsUser}}
</div>
<div *ngIf="user">
    <h3>Name: {{ user['name'] }}</h3>
    <h3>User-Name: {{ user['username'] }}</h3>
</div>
<div>
    <table border="2px" *ngIf="user">
        <tr>
            <th>Name</th>
            <th>User-Name</th>
            <th>email</th>
        </tr>
        <tr>
            <td>{{ user['name'] }}</td>
            <td>{{ user['username'] }}</td>
            <td>{{ user['email'] }}</td>
        </tr>
    </table>
</div>
<!-- "id": 1,
    "name": "Leanne Graham",
    "username": "Bret",
    "email": "Sincere@april.biz",
    "address": {
      "street": "Kulas Light",
      "suite": "Apt. 556",
      "city": "Gwenborough",
      "zipcode": "92998-3874",
      "geo": {
        "lat": "-37.3159",
        "lng": "81.1496"
      } -->
<!-- 
"ng-repeat="n in [] | range:9
routerLink='/user/{{$index}}'  -->